html,body {
width :100%;
height:100%;
margin:0;
padding:0;
}
/*
body {
  margin: 0;
  background: #000;
}
*/
.videoPoster {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover {
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
.center {
margin-right:auto; margin-left:auto;
}
.close-btn{
  float: right;
  cursor: pointer;
}
.container {
display:grid;
height:125%;
}
#toCenter {
margin:auto;
color:white;
}
.searchbutton {
color: #757070;
background-color: #BAB7BD;
border-color: #000000;
}

.searchbutton:hover,
.searchbutton:focus,
.searchbutton:active,
.searchbutton.active,
.open .dropdown-toggle.searchbutton {
color: #757070;
background-color: #3E3B42;
border-color: #000000;
}

.searchbutton:active,
.searchbutton.active,
.open .dropdown-toggle.searchbutton {
background-image: none;
}

.searchbutton.disabled,
.searchbutton[disabled],
fieldset[disabled] .searchbutton,
.searchbutton.disabled:hover,
.searchbutton[disabled]:hover,
fieldset[disabled] .searchbutton:hover,
.searchbutton.disabled:focus,
.searchbutton[disabled]:focus,
fieldset[disabled] .searchbutton:focus,
.searchbutton.disabled:active,
.searchbutton[disabled]:active,
fieldset[disabled] .searchbutton:active,
.searchbutton.disabled.active,
.searchbutton[disabled].active,
fieldset[disabled] .searchbutton.active {
background-color: #BAB7BD;
border-color: #000000;
}

.searchbutton .badge {
color: #BAB7BD;
background-color: #757070;
}

input[type="text"]{
background-color:#595959;
color:white;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
